body{
    background-color:rgb(241, 236, 185);
}

h1{
    color: red;
    text-align: center;
}

h2{
    text-transform: uppercase;
}

h3{
    color: red;
    text-align: center;
}

.italic{
    font-style: italic;
}