.page {
    min-height: 100vh;
    background: url(../img/bg.png) center/cover no-repeat;
}

header {
    max-width: 1000px;
    margin: auto;
    padding-top: 162px;
    width: 100%;
    text-align: center;
}
.bucket{
    max-width: 273px;
    width: 100%;
}
.tagline {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    letter-spacing: 3px;
    line-height: normal;
}

.spec {
    max-width: 750px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: auto;
    margin-bottom: 82px;
    line-height: normal;
    color: #999999;
}

.name {
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    font-weight: bold;
    max-width: 228px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    line-height: normal;
}

.application {
    max-width: 263px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: auto;
    line-height: normal;
    color: #666666;
    margin-top: 20px;
}

.wt {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #999999;
    text-align: right;
    padding: 20px 20px 0 0;
}

.price {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #24a319;
    text-align: end;
}

main {
    max-width: 1444px;
    margin: auto;
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    grid-gap: 40px 28px;
    gap: 40px 28px;
    padding-bottom: 141px;
}

.block {
    text-align: center;
    background-color: white;
    height: 630px;
    max-width: 340px;
    width:100%;
    border-color: #F0F0F0;
    border-width: 0.1px;
    border-style: solid;
    border-radius: 10px;
}

.product {
    position: relative;
}

.icon {
    position: absolute;
    display: block;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.description {
    max-height: 150px;
    height: 100%;
}

.button {
    background-color: #24a319;
    display: block;
    height: 62px;
    width: 233px;
    border-radius: 50px;
    color: white;
    margin: auto;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 23px;
    margin-top: 20px;
}

@media screen and (max-width:1440px){
    .tagline {
        font-size: 35px;
    }    
    .spec {
        font-size: 13px;
    }    
    .name {
        font-size: 18px;
        max-width: 197px;
    }    
    .application {
        font-size: 11px;
        max-width: 230px;
    }    
    .wt {
        font-size: 8px;
    }    
    .price {
        font-size: 19px;
    }
    main{
        max-width: 924px;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
    .block {
        max-width: 280px;
    }
    .bucket{
        width:95%;
    }
    .icon{
        width: 67%;
    }
    .button{
        padding-top: 20px;
        width: 210px;
        height: 56px;
        font-size: 15px;
    }

}
@media screen and (max-width:960px){
    header{
        max-width: 700px;
    }
    .tagline {
        font-size: 32px;
    }    
    .spec {
        font-size: 11px;
    }    


    .name {
        font-size: 18px;
        max-width: 197px;
    }    
    .application {
        font-size: 11px;
        max-width: 230px;
    }    
    .wt {
        font-size: 8px;
    }    
    .price {
        font-size: 19px;
    }
    main{
        max-width: 588px;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
    .block {
        max-width: 280px;
    }
    .bucket{
        width:95%;
    }
    .icon{
        width: 67%;
    }
    .button{
        padding-top: 20px;
        width: 210px;
        height: 56px;
        font-size: 15px;
    }        
}
@media screen and (max-width:768px){
    header{
        max-width: 600px;
    }
    .tagline {
        font-size: 26px;
    }    
    .spec {
        font-size: 8px;
    }   



    .tagline {
        font-size: 35px;
    }    
    .spec {
        font-size: 13px;
    }    
    .name {
        font-size: 18px;
        max-width: 197px;
    }    
    .application {
        font-size: 11px;
        max-width: 230px;
    }    
    .wt {
        font-size: 8px;
    }    
    .price {
        font-size: 19px;
    }
    main{
        max-width: 280px;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
    .block {
        max-width: 280px;
    }
    .bucket{
        width:95%;
    }
    .icon{
        width: 67%;
    }
    .button{
        padding-top: 20px;
        width: 210px;
        height: 56px;
        font-size: 15px;
    }        
}